* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, Sans-serif;
  font-size: 16px; }

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

header {
  width: 100%;
  background: url("../images/bg-vikings-brown.jpg") #281a0c;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  header .container {
    position: relative;
    height: 700px; }
  header .nav {
    width: 100%;
    text-align: right; }
    header .nav a {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      margin: 40px 20px;
      text-decoration: none;
      position: relative;
      border-bottom: 1px solid transparent;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      header .nav a:hover {
        border-bottom: 1px solid #fff; }
  header .text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px; }
    header .text .name {
      font-family: 'Spectral SC', serif;
      font-size: 50px;
      font-weight: 600; }
      header .text .name span {
        font-weight: 300;
        font-family: 'Open sans', Arial; }
    header .text h3 {
      font-weight: 300;
      font-size: 25px;
      font-style: italic; }

.main {
  background: url("../images/bg-textura.png");
  background-repeat: repeat; }
  .main .about .container {
    overflow: visible;
    position: relative; }
    .main .about .container .foto {
      width: 80%;
      position: absolute;
      left: 0;
      top: -50px;
      z-index: 0;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
      .main .about .container .foto img {
        vertical-align: top;
        width: 100%; }
  .main .about article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 500px;
    float: right;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .main .about article h3 {
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 40px; }
    .main .about article p {
      line-height: 28px;
      margin-bottom: 15px; }
  .main .menu {
    padding-top: 570px;
    margin-bottom: 50px; }
    .main .menu .title {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px; }
    .main .menu .menu-container, .main .menu .menu-container2 {
      border: 1px solid #000;
      background: transparent;
      padding: 10px;
      oveflow: hidden; }
    .main .menu .menu-container2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .main .menu .menu-container2 article {
        width: 50%;
        padding: 20px; }
      .main .menu .menu-container2 .category {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center; }
      .main .menu .menu-container2 .plato {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 4px dotted #000;
        overflow: hidden; }
        .main .menu .menu-container2 .plato .name {
          font-size: 20px;
          margin-bottom: 15px;
          float: left; }
        .main .menu .menu-container2 .plato .price {
          font-size: 20px;
          margin-bottom: 15px;
          float: right; }
        .main .menu .menu-container2 .plato .desc {
          font-size: 16px;
          color: #676767;
          clear: both; }
  .main .galeria {
    overflow: hidden; }
    .main .galeria .foto-container {
      width: 25%;
      float: left;
      overflow: hidden; }
      .main .galeria .foto-container img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        opacity: .7;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main .galeria .foto-container img:hover {
          opacity: 1;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
  .main .ubi {
    background: #fff;
    padding: 60px 0;
    overflow: hidden; }
    .main .ubi .title {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      margin-bottom: 40px; }
    .main .ubi .direccion {
      float: left;
      width: 50%;
      text-align: left; }
      .main .ubi .direccion .calle {
        margin-bottom: 15px; }
    .main .ubi .horarios {
      float: right;
      width: 50%;
      text-align: right;
      overflow: hidden; }
      .main .ubi .horarios h4 {
        text-align: center;
        margin-bottom: 20px; }
      .main .ubi .horarios .semana, .main .ubi .horarios .fin {
        width: 50%;
        float: left;
        text-align: center; }
  .main .map {
    width: 100%;
    overflow: hidden; }
    .main .map iframe {
      width: 100%; }

footer {
  background: #000; }
  footer .copy {
    text-align: center;
    padding: 15px 0;
    color: #fff; }

@media screen and (max-width: 800px) {
  header .container {
    position: static;
    height: auto; }
    header .container .text {
      position: static;
      margin: 100px 0; }
      header .container .text .name {
        font-size: 30px; }
      header .container .text h3 {
        font-size: 18px; }
    header .container .nav {
      text-align: center; }
      header .container .nav a {
        margin: 20px; }
  .main .about .container .foto {
    width: 100%;
    position: relative; }
  .main .about article {
    position: relative;
    width: 100%;
    top: -50px;
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0); }
  .main .menu {
    padding-top: 300px; }
    .main .menu .container .menu-container .menu-container2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .main .menu .container .menu-container .menu-container2 article {
        width: 100%; }
  .main .galeria .foto-container {
    width: 50%; } }

@media screen and (max-width: 400px) {
  .main .about article h3 {
    font-size: 34px;
    margin-bottom: 10px; }
  .main .menu article .name, .main .menu article .price {
    font-size: 16px;
    line-height: 16px; }
  .main .ubi .direccion, .main .ubi .horarios {
    width: 100%;
    text-align: center; }
  .main .ubi .direccion {
    margin-bottom: 15px; } }

@media screen and (max-width: 550px) {
  header .container .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (min-width: 1500px) {
  header {
    background-position: center -250px;
  }
}
